* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

html,
body {
  max-width: 100%;
  /* width: 100%; */
  overflow-x: hidden;
  /* background-color: rgb(2, 68, 22); */
  background-color: rgb(223, 223, 223);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  text-align: justify;
}

h1 {
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0.5em;
  color: rgb(0, 155, 103);
  padding-top: 5px;
}

h2 {
  font-family: inherit;
  font-size: 16px;
  text-align: left;
  margin-bottom: 0.5em;
  color: rgb(0, 155, 103);
  padding-top: 5px;
}

p {
  color: #333;
}

.mainCard {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  background-color: white;
  width: 60%;
  margin: 1em auto;
  border-radius: 1em;
}

.card {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  background-color: white;
  width: 80%;
  margin: 1em auto;
  border-radius: 1em;
}

/* Styles for navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 0.8rem 2rem;
  color: #fff;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #1dbf73;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

/* Responsive Styles  for the nav menu*/
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    background: #222;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    transform: translateY(-200%);
    transition: transform 0.3s ease;
  }

  /* this opens menu open */
  #menu-toggle:checked + .menu-icon + .nav-links {
    transform: translateY(0);
  }
}
