

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.imgD {
  display: grid;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  display: block;
  border-radius: 50%;
  width: 250px;
  height: auto;
  aspect-ratio: 1/1;
  margin-bottom: 10px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

i {
  color: rgb(39, 39, 39);
}

span {
  color: rgb(14, 94, 63);
}

/* a {
  text-decoration: none;
} */

ul {
  padding-left: 20px;
  list-style-type: circle;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mainCard {
    padding: 1em;
    margin: 1em auto;
    width: 85%;
    padding: 20px;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mainCard {
    padding: 30px;
    margin: 1em auto;
    width: 80%;
    padding: 20px;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mainCard {
    padding: 1em;
    margin: 1em auto;
    width: 70%;
    padding: 20px;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mainCard {
    padding: 1em;
    margin: 1em auto;
    width: 80%;
    padding: 20px;
  }

  .content {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mainCard {
    padding: 1em;
    margin: 1em auto;
    width: 70%;
    padding: 20px;
  }

  .content {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

/* Styles for navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 0.8rem 2rem;
  color: #fff;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #1dbf73;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

/* Responsive Styles  for the nav menu*/
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    background: #222;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    transform: translateY(-200%);
    transition: transform 0.3s ease;
  }

  /* this opens menu open */
  #menu-toggle:checked + .menu-icon + .nav-links {
    transform: translateY(0);
  }
}
