.pic {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.card {
    display: grid;
    justify-items: center;
    padding: 20px;
    border: 1px solid #c4c4c4;
    width: 500px;
    border-radius: 5px;
    margin-top: 30px;
}

p {
    font-weight: 800;
}